body {
    background: cadetblue;
    ;
}

#mapid {
    height: 450px;
    background: lightgrey;
    width: 450px;
}

#left-form {
    display: inline-block;
    border-right: 1px solid #000;
    margin-right: 10px;
    padding-right: 20px;
}

#right-form {
    display: inline-block;
    vertical-align: top;
}


/*Formulaire Note*/

#edit-note {
    margin: 10px auto 20px auto;
}

#edit-note.note {
    max-width: 95vw;
    min-height: inherit;
}

#edit-note.mini legend {
    border-bottom: none;
    margin-bottom: 0;
}

#edit-note label {
    margin: 10px 0 5px;
}

#input-date {
    margin-right: 4%
}

#input-date,
#input-time {
    width: 48%;
    display: inline-block;
}

legend {
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border-color: black;
}

#edit-note textarea {
    display: block;
    width: 100%;
    max-width: 100%;
}

.invalid-input {
    background-color: red;
    border-color: red;
    color: white;
}

.hide-button {
    width: 25px;
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
    background: white;
    border-radius: 50%;
}

.map-button {
    width: 30px;
    position: absolute;
    right: 43px;
    top: 13px;
    cursor: pointer;
    background: white;
    border-radius: 50%;
}


/*Affichage Notes*/

#notes-container {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, .5);
    width: 80%;
    margin: 0 10% 30px 10%;
    padding: 20px;
    max-height: 70vh;
    overflow-y: auto;
}

#notes-container>* {
    display: inline-block;
    margin: 0 10px 20px;
    vertical-align: top;
}

#notes-container:empty {
    display: none;
}

.note {
    background: #FFFFA5;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
    border-radius: 3px;
    margin: 0 0 10px;
    padding: 15px;
    max-width: 250px;
    min-height: 250px;
    box-sizing: border-box;
    position: relative;
}

.note .img-close {
    width: 30px;
    height: 30px;
    position: absolute;
    right: -10px;
    top: -10px;
    cursor: pointer;
    z-index: 999;
}

.note-right {
    display: inline-block;
    vertical-align: top;
    width: 80%;
    width: 70%;
    margin-left: 5%;
    float: right;
}

#notes-container .note-titre {
    font-weight: bold;
}

#notes-container .note-datetime {
    font-style: italic;
    font-size: 12px;
}

#notes-container .note-user {
    display: inline-block;
    vertical-align: top;
    font-size: 10px;
    width: 20%;
    text-align: center;
}

#notes-container .note-user img {
    width: 100%;
    vertical-align: top;
}

#notes-container .note-description {
    margin-top: 10px;
}

#is-js-loading {
    max-width: 40%;
    margin: 20px 30%;
    background: red;
    color: #fff;
    text-align: center;
    padding: 5px;
}